/*  Variables  */
:root {
  --primary: palevioletred;
  --light: #fff;
  --medium: #d0d2d3;
  --disabled: #f8f8f8;

  --border-radius: 3px;

  --center-vert: calc(100vh - 120px);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 12px;
  background: #fff;
}

ul {
  padding: 0;
}

li {
  margin: 0 25px 0 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Containers & Layout */

.container {
  padding-top: 60px;
  max-width: 900px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--center-vert);
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.formColumn {
  composes: column;
  width: 250px;
  height: 150px;
}

/* Inputs */

.input {
  width: 80%;
  display: block;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ebe8e4;
  border-radius: 2px;
}

/* Avatars */

.avatar {
  width: 45px;
  height: 45px;
  margin: 10px auto 0 auto;
  border-radius: 22.5px;
}

/* Buttons */

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  background: var(--primary);
  color: var(--light);
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.85;
}

.disabled {
  composes: button;
  background: var(--disabled);
  color: var(--medium);
}

.reset {
  composes: button;
  background: transparent;
  color: palevioletred;
}
