.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0 25px;
  height: 60px;
  background: var(--light);
  z-index: 1;
}

.nav {
  display: flex;
}

.active {
  color: palevioletred;
}
