/* Popular */

.languages {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.languages li {
  cursor: pointer;
}

.avatar {
  composes: avatar from '../../../index.css';
}

.popularList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
}

.popularItem {
  width: 160px;
  margin: 20px;
  text-align: center;
}

.spaceListItems li {
  margin-bottom: 7px;
}

.spaceListItems a {
  color: var(--primary);
}
